body {
    background: linear-gradient(
        90deg,
        rgb(238, 171, 203) 0%,
        rgb(186, 242, 217) 100%
    );
    }

.todo-app {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-height: 600px;
    background: white;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
   
}
